.about__text-container {
    padding-top: 56px;
    padding-left: 56px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.about__text-container > p {
    margin-bottom: 24px;
}