.card__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 64px 0px;
    justify-content: start;
}

.card__container_no-title {
    margin: 0px;
}


@media screen and (max-width: 1180px) {
    .card__container {
        margin: 32px 0px 32px 0px;
    }

    .card__container_no-title {
        margin: 0px;
    }
}


@media screen and (max-width: 480px) {
    .card__container {
        margin: 24px 0px 15px 0px;
    }
    
    .card__container_no-title {
        margin: 0px;
    }
}