.search__panel {
    position: relative;
    width: 100%;
    margin-top: auto;
}


@media screen and (max-width: 480px) {
    .search__panel {
        position: relative;
        width: 100%;

        margin-top: auto;

        display: flex;
        flex-direction: column;
    }
}