@import url(./__text/section__text.css);

.section {
    width: 100%;
    color: #1A1B22;
}

.section_search {
    box-sizing: border-box;
    width: 100%;
    height: 576px;
    display: flex;
    justify-content: center;
    padding: 160px 0px 80px 0px;
    color: #FFFFFF;
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
}


.section_result {
    box-sizing: border-box;
    width: 100%;
    padding: 80px 104px ;
    background-color: #F5F6F7;
}

.section_result-no-title {
    box-sizing: border-box;
    width: 100%;
    padding: 64px 104px ;
    background-color: #F5F6F7; 
}

.section_info {
    padding: 40px 104px 56px 104px;
    width: 520px;
}