.search__container {
    width: 100%;
    max-width: 608px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


@media screen and (max-width: 768px) {
    .search__container {
        max-width: 448px;
    }   
  }

  @media screen and (max-width: 480px) {
    .search__container {
        padding: 0px 16px;

    }
}