.popup__content {
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  min-height: 380px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  padding: 34px 36px;
}


@media screen and (max-width: 768px) {
  .popup__content {
    max-width: 430px;
  }

}

@media screen and (max-width: 480px) {

  .popup__content {
    max-width: 480px;
    height: 100%;
    padding: 16px;
  }

}
