.popup__content {
  max-width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}


@media screen and (max-width: 768px) {


}

@media screen and (max-width: 480px) {

  .popup__content {
    width: 100%;
    padding: 16px;
  }

}
