.about__photo {
    width: 33vw;
    height: 33vw;
    flex-shrink: 0;
    border-radius: 1000px;
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    .about__photo {
        width: calc(90vw - 24px - 24px);
        height: calc(90vw - 24px - 24px);
    }
}