.card__image {
  height: 272px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
}

/*
.card__image::after {
  content: '';
  display: block;
  width: 282px;
  height: 282px;
  background-color: rgba(0, 0, 0, .3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
*/

@media screen and (max-width: 1180px) {
  .card__image {
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .card__image {
    height: 196px;
  }

}