.about__more {
    margin-left: auto;
    margin-right: auto;
    max-width: 288px;
    height: 64px;
    background: rgba(255, 255, 255, 1);
    border-radius: 80px;

    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #1A1B22;
}

.about__more:hover {
    background: rgba(255, 255, 255, 0.9);
}


@media screen and (max-width: 480px) {
    .about__more {
        height: 56px;
    }
}