.popup__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

  border: none;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__label {
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
}

.popup__input:focus {
  outline: none;
}


@media screen and (max-width: 768px) {


}

@media screen and (max-width: 480px) {

  .popup__input {
    width: 100%;
    margin-top: 9px;
    padding-bottom: 10px;
  }

}