@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/header/header.css);

@import url(./blocks/section/section.css);
@import url(./blocks/search/search.css);

@import url(./blocks/about/about.css);

@import url(./blocks/footer/footer.css);

@import url(./blocks/logo/logo.css);

@import url(./blocks/card/card.css);

@import url(./blocks/popup/popup.css);

@import url(./vendor/preloader.css);


body {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-color:#FFFFFF;
  max-width: 1440px;
}

h1 {
  margin: 0px;
}

.hide {
  display: none;
}
