@import url(./__title/header__title.css);
@import url(./__container/header__container.css);
@import url(./__button/header__button.css);
@import url(./__link/header__link.css);

.header {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 104px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.header_dark {
  position: static;
  color: #1A1B22;
}
