@import url(./__title/header__title.css);
@import url(./__container/header__container.css);
@import url(./__button/header__button.css);
@import url(./__link/header__link.css);
@import url(./__checkbox/header__checkbox.css);

.header {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 104px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.header_dark {
  position: static;
  color: #1A1B22;
}

.header__border {
  position: absolute;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 16px;
  background: #1A1B22;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 0px 40px;
    height: 66px;
  }   
}

@media screen and (max-width: 700px) {
  .header {
    height: 56px;
    padding: 0px 16px;
  }

  .checkbox:checked + .checkbox__label + .header__border {
    display: block;
  }   
  
}